---
// Supports weights 300-900
import "@fontsource-variable/figtree";
import "../global.css";
const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>

        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="https://maulik9211.github.io/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="https://maulik9211.github.io/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="https://maulik9211.github.io/favicon-16x16.png"
        />
        <link
            rel="manifest"
            href="https://maulik9211.github.io/site.webmanifest"
        />
    </head>
    <body class="text-slate-500">
        <slot />
    </body>
</html>
